body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e3a8a, #4a54f1);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e2e8f0;
}

#game-board {
    width: 240px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #4a54f1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#score-board {
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#play{
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.6);color: azure;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.block {
    width: 20px;
    height: 20px;
    position: absolute;
    /* border: 2px solid #ff4081; */
    /* background: linear-gradient(145deg, #ff4081, #ff80ab);
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.7); */
    border-radius: 4px;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 2px rgba(255, 105, 180, 0.5);
    }
    to {
        box-shadow: 0 0 4px rgba(255, 105, 180, 1);
    }
}
